<div class="title-wrapper" id="titles">
  <div class="animated fadeInDown skill" id="confident confidentTitle"> <h5>Confident</h5></div>
  <div class="animated fadeInDown skill" id="learning learningTitle"> <h5>Learning</h5></div>
  <div class="animated fadeInDown skill" id="intrigued intriguedTitle"> <h5>Intrigued</h5></div>
</div>

<div class="icon-wrapper">
  <section id="confidentTech">
        <div class="tech"><img id="icon" src="/assets/img/icons/HTML5.png"></div>
        <div class="tech"><img id="icon" src="/assets/img/icons/css_3.png"></div>
        <div class="tech"><img id="icon" src="/assets/img/icons/icon.png"></div>
        <div class="tech"><img id="icon" src="/assets/img/icons/jquery.png"></div>

        <div class="tech"><img id="icon" src="/assets/img/icons/icon_rails.png"></div>
        <div class="tech"><img id="icon" src="/assets/img/icons/icon.ruby.png"></div>
        <div class="tech"><img id="icon" src="/assets/img/icons/bootstrap.jpeg"></div>
        <div class="tech"><img id="icon" src="/assets/img/icons/git.png"></div>

        <div class="tech"><img id="icon" src="/assets/img/icons/github.png"></div>
        <div class="tech"><img id="icon" src="/assets/img/icons/sql.png"></div>
        <div class="tech"><img id="icon" src="/assets/img/icons/trello.png"></div>
        <div class="tech"><img id="icon" src="/assets/img/icons/photoshop.jpeg"></div>
  </section>

  <section id="learningTech">
      <div class="tech"><img id="icon" id="icon" src="/assets/img/icons/angularjs.jpeg"></div>
      <div class="tech"><img id="icon" src="/assets/img/icons/sass-logo-new.png"></div>
      <div class="tech"><img id="icon" src="/assets/img/icons/postgres.png"></div>
      <div class="tech"><img id="icon" src="/assets/img/icons/yeti.png"></div>

      <div class="tech"><img id="icon" src="/assets/img/icons/grunticon.png"></div>
      <div class="tech"><img id="icon" src="/assets/img/icons/heroku.png"></div>
      <div class="tech"><img id="icon" src="/assets/img/icons/mongodb-logo.png"></div>
      <div class="tech"><img id="icon" src="/assets/img/icons/nodejs-new-pantone-black-128.png"></div>

      <div class="tech"><img src="/assets/img/icons/insomnia.jpg"></div>
      <div class="tech"><img src="/assets/img/icons/regex.jpg"></div>
      <div class="tech"><img src="/assets/img/icons/underscore.jpg"></div>
  </section>

  <section class="tech" id="intriguedTech">
      <div class="tech"><img id="icon" src="/assets/img/icons/reactjs.png"></div>
      <div class="tech"><img id="icon" src="/assets/img/icons/gulp.png"></div>
  </section>
</div>
